 <!-- footer Address section
                      ========================== -->
                      <div class="footer-address">
                        <h3 class="footer-title">Address</h3>
                        <p>Kampala, Uganda</p>
                        <p class="contact-address">
                          Tel : <a href="tel:+256781428316">+256 781428316</a> </p>
                            <p class="contact-address"><a href="mailto:info@laposolutions.com">info@laposolutions.com</a>
                        </p>
                    </div>